<section id="about">
    <div class="container top-hero">
        <div class="row hero-section">
            <div class="col-md-6 hero-title-desc">
                <h1>Hallo, i am Muhammad Rizki 🧑‍🚀</h1>
                <p class="desc-hero">A fresh graduate majoring in Informatics Engineering with GPA 3.76. I
                    am interested in the IT Programmer field, I have skills in JavaScripts, Python, PHP, Angular,
                    SQL, Bootstraps, HTML, and CSS.</p>
            </div>
            <div class="col-md-6">
                <img src="assets/hero/hero-icon.png" alt="">
            </div>
        </div>
    </div>
</section>


<section id="skills">
    <h1 class="section-title">My Skills</h1>
    <hr class="my-2">
    <div class="container">
        <div class="row pt-3">
            <div class="col-md-4 d-flex justify-content-center">
                <img src="assets/images/python-icon.png" alt="" width="50%">
            </div>
            <div class="col-md-4 d-flex justify-content-center">
                <img src="assets/images/angular-icon.png" alt="" width="50%">
            </div>
            <div class="col-md-4 d-flex justify-content-center">
                <img src="assets/images/mysql-logo.svg" alt="" width="50%">
            </div>
        </div>
    </div>
</section>

<section id="portofolio">
    <h1 class="section-title">My Portofolio</h1>
    <hr class="my-2">
    <div class="container">
        <div class="row card-list">
            <div class="col-md-6 p-2 d-flex justify-content-center">
                <div class="card p-2" style="width: 50rem;">
                    <img src="assets/portofolio/numplate.png" class="card-img-top" alt="..." width="100%" height="70%">
                    <div class="card-body">
                        <p class="title-portofolio">(Numplate) Aplikasi Deteksi Plat Nomor menggunakan SSD MobileNet</p>
                        <p class="card-text">Aplikasi deteksi plat nomor menggunakan SSD (Single Shot MultiBox Detector) MobileNet adalah solusi yang menggunakan teknologi deep learning untuk mendeteksi dan mengidentifikasi plat nomor kendaraan secara otomatis. </p>
                        <button class="btn btn-lg btn-primary">View project</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 p-2 d-flex justify-content-center">
                <div class="card p-2" style="width: 50rem;">
                    <img src="assets/portofolio/realtime-sentimen.png" class="card-img-top" alt="..." width="100%" height="70%">
                    <div class="card-body">
                        <p class="title-portofolio">Klasifikasi Opini Publik Di Twitter Terhadap Bakal Calon Presiden Indonesia Tahun 2024 Menggunakan 
                            Deep Learning Secara Realtime Berbasis Website
                            </p>
                        <p class="card-text">Proyek ini bertujuan untuk mengembangkan sebuah sistem yang mampu menganalisis opini publik di Twitter terkait bakal calon presiden Indonesia pada tahun 2024. Dengan menggunakan teknologi deep learning, khususnya model Long Short Term Memory (LSTM), sistem ini dapat mengidentifikasi dan mengklasifikasikan sentimen dari setiap tweet, apakah bersifat positif, negatif, atau netral terhadap bakal calon. </p>
                        <button class="btn btn-lg btn-primary">View project</button>
                    </div>
                </div>
            </div>        
        </div>
    </div>
</section>


<footer>
    <p>&copy; 2023 Muhammad Rizki</p>
</footer>